.layoutSolicitacao {
  display: flex;
  margin-left: 4rem;
}

.containerPrincipalSolicitacao {
  width: 95vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  transition: all .5s ease-in-out;

  label {
    font-weight: 700;
    font-size: 0.75rem;
    color: #23282f;
  }
  
  input,
  select,
  textarea {
    border-radius: 6px;
    border: solid #cbd4e1 0.8px;
    height: 4vh;
    width: 100%;
    appearance: none;
    transition: box-shadow 0.4s ease-in-out, border-color 0.4s ease-in-out;
    z-index: -1;
    &:focus {
      box-shadow: 
      0 0 0 2px #027af2,       /* Borda interna azul claro */
      0 0 4px 2px rgba(2, 122, 242, 0.3), /* Efeito de glow externo */
      0 0 6px 3px rgba(3, 62, 119, 0.2); /* Sombra mais difusa (azul escuro) */
      outline: none;              /* Remove o outline padrão */
      border-color: transparent;  /* Opcional: remove a borda nativa */
    }
    &:hover {
      border-color: #23282F;
    }
  }
  
  textarea {
    padding: 10px;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="date"]  {
    padding: 0 10px;
    z-index: 1;
  
  }
}

.headerSolicitacao {
  width: 30vw;
  display: flex;
}

.mainSolicitacao {
  width: 100%;
  flex: 1;
}

.formMain {
  display: flex;
  justify-content: space-between;
}

.formGrupo1 {
  width: 35%;
  height: 25vh;
  // border: solid green;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.inputNome {
  width: 45%;
}

.inputEmpresa {
  width: 25%;
}

.inputPrestacao {
  width: 25%;
}

.inputMotivo {
  width: 100%;

  textarea {
    height: 10vh;
  }
}


.barraVertical {
  background-color: #cbd4e1;
  height: 25vh;
  width: 0.1vw;
}


.formGrupo2 {
  //border: solid green;
  width: 60%;
  height: 25vh;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
}

.formGrupo2G1,
.formGrupo2G2 {
  width: 99%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.formGrupo2G2 {
  padding-bottom: 21px;
  flex-wrap: wrap;
  label {
    font-size: 0.7rem;
  }
}

.inputData {
  //border: solid green;
  width: 18%;
}

.selectDespesas {
  // border: solid blue;
  width: 28%;
  select {
    padding: 0 10px;
  }
}

.centroDeCusto {
  //border: solid purple;
  width: 48.5%;
  select {
    padding: 0 10px;
  }
}

.ordem,
.divisoes,
.pep,
.distancia {
  width: 8%;
}

.valorKm,
.valorFaturado,
.despesa {
  width: 10%;
}

.moeda {
  width: 14.5%;
  select {
    padding-left: 5px;
  }
}

.botoes {
  width: 16%;
  display: flex;
  justify-content: space-between;
  height: 4vh;

  .salvar {
    background-color: #001a3d;
    color: #ffffff;
    width: 60%;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    border: none;
    transition: background-color .4s ease-in-out;
    &:hover {
      background-color: #5890c9;
    }
  }

  .deletar {
    width: 35%;
    background-color: #00BEDD;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    cursor: pointer;
    border: none;
    transition: background-color .4s ease-in-out;
    &:hover {
      background-color: #a60b2f;
    }
  }
}

.container_tabela {
  max-height: 420px;
  overflow-y: auto;
}


table {
  width: 99.5%;
  border: 2px solid #ccc;
  border-collapse: collapse;
  margin-top: 30px;
}


th {
  background-color: #CBD4E1;
  font-weight: 500;
  color: #23282f;
  font-size: 0.75rem;
  min-width: 30px;
  border: 2px solid #ccc;
  padding: 5px;
}

tr {
  &:hover {
    background-color: #efeff0;
  };
}

td {
  border: 2px solid #ccc;
  text-align: center;
  font-size: 0.80rem;
  font-weight: 500;
}

.btnLixeira {
  border: none;
  transition: .5s;
  margin-top: 3px;
  :hover {
    color: #000000;
    border-radius: 6px;
    fill: #a60b2f;
    cursor: pointer;
  }
}



.footerSolicitacao {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 50px;
  width: 100%;
  height: 15vh;
  position: relative;
  bottom: 0;
  right: 0;

  section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 68%;
    height: 15vh;
  }

  div {
    // border: solid;
    width: 20%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .boxButtonFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;

    .buttonAnalise {
      background-color: #001a3d;
      width: 45%;
      height: 6.5vh;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      color: white;
      cursor: pointer;
      border: none;
      transition: background-color .4s ease-in-out;
      &:hover {
        background-color: #5890c9;
      }
    }

    .buttonCancelar {
      background-color: #a60b2f;
      width: 45%;
      height: 6.5vh;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      color: white;
      cursor: pointer;
      border: none;
      transition: background-color .4s ease-in-out;
      &:hover {
        background-color: #f1073e;
      }
    }
  }
}


.navBarEstilo {
  display: flex;
  flex-direction: column;
}


.select_icon,
.input_icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  background-color: #001f4e;
  color: #ffffff;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  svg {
    transition: transform 0.2s ease-in-out;
  }
}

.select_wrapper,
.input_wrapper {
  position: relative;
}

.input_icon svg {
  font-size: 20px;
}



.down {
  transform: rotate(-180deg);
}

.modal  {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 351px;
  height: 201px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0 15px;
  border-radius: 6px;
  visibility: hidden;
  opacity: 0;
  z-index: 2001;
  transition: all 0.5s ease-in-out;
  p {
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #23282F;
  }

  .btnModal {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    button {
      font-weight: 700;
      font-size: 0.95rem;
      color: #FFFFFF;
      background-color: #00BEDD;
      border-radius: 6px;
      padding: 13px 16px;
      border: none;
      outline: none;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: #00ACC7;
      }
    }
  }
}

.btnModal button:first-child {
  background-color: #001A3D;
  &:hover {
    background-color: #042755;
  }
}



.overlay {
  background-color: #00000080;;
  width: 100%;
  height: 100%;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
  z-index: 2000;
}


.overlay_show {
  visibility: visible;
  opacity: 1;
}

.modal_show {
  visibility: visible;
  opacity: 1;
}

.hover_none {
  &:hover {
    background-color: white;
  }
}

