.layoutSolicitacao {
  display: flex;
  margin-left: 4.2rem;
  padding: 10px 0 0 5px;
  background-color: #FFFFFF;
  @media (max-width: 768px) {
    padding-top: 0;
    margin-left: 0;
  }
}

.containerPrincipalSolicitacao {
  width: 100%;
  min-height: calc(100dvh - 30px);
  display: flex;
  flex-direction: column;
  transition: all .5s ease-in-out;
  gap: 15px;

  label {
    font-weight: 700;
    font-size: 0.75rem;
    color: #23282f;
  }
  
  input,
  select,
  textarea {
    height: 4vh;
    width: 100%;
    appearance: none;
    border: 1px solid #ced4da;
    transition: border-color 0.4s ease, box-shadow 0.4s ease;
    background-color: #fff;
    border-radius: 6px;
    color: #495057;
    outline: none;
    z-index: -1;
    &::placeholder {
      color: #000000;
    }
    &:focus {
      border-color: #2c9bbf;
      box-shadow: 0 0 0 0.2rem rgba(44, 155, 191, 0.25);
    }
    &:hover {
      border-color: #7fc8de;
    }
  }
  
  textarea {
    padding: 10px;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="date"]  {
    padding: 0 10px;
    z-index: 1;
  
  }

  @media (max-width: 414px) {
    width: 99%;
  }
}

.headerSolicitacao {
  width: 100%;
  display: flex;
  align-items: flex-end;
  background-color: #FFFFFF;
  .icon {
    color: #d0d4e4;
    font-size: 20px;
    margin-bottom: -5.5px;
  }

  p {
    margin-bottom: -4px;
    font-size: 12px;
    text-decoration: none;
    color: #000000;
  }

  @media (max-width: 768px) {
    height: 45px;
    align-items: center;
    padding-left: 63px;
    padding-bottom: 5px;
    position: fixed;
    top: 0;
    z-index: 1;
    .icon, p {
      margin-bottom: -12px;
    }
  }
}

.mainSolicitacao {
  width: 100%;
  flex: 1;
}

.formMain {
  display: flex;
  justify-content: space-between;
  min-height: 250px;
  margin-top: 5px;
  @media (max-width: 768px) {
    flex-direction: column;
    margin-top: 65px;
    gap: 100px;
  }
  @media (max-width: 414px) {
    width: 99%;
    gap: 100px;
  }
}

.formGrupo1 {
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-left: 5px;
  @media (max-width: 768px) {
    width: 98%;
    height: 250px;
  }
  @media (max-width: 414px) {
    height: 280px;
  }
}

.inputNome {
  width: 100%;
  position: relative;
}

.inputEmpresa {
   width: 65%;
  position: relative;
}

.inputPrestacao {
  width: 30%;
  position: relative;
  label {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.inputMotivo {
  width: 100%;
  textarea {
    height: 13.3vh;
  }
}


.barraVertical {
  background-color: #cbd4e1;
  width: 0.1vw;
  @media (max-width: 768px) {
    display: none;
  }
}


.formGrupo2 {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  @media (max-width: 768px) {
    margin-left: 5px;
    width: 98%;
    height: 350px;
  }

  .formGrupo2G3 {
  @media (max-width: 414px) {
   flex-direction: row;
   flex-wrap: wrap;
   gap: 0;
   
  .ordem,
  .divisoes,
  .pep,
  .valorFaturado,
  .despesa,
  .inputData {
    width: 120px;
    flex: none;
  }
  .inputData {
    input {
      font-size: 8.8px;
      padding: 0 0 0 3px;
    }
  }
 }
}
.formGrupo2G1 {
  @media (max-width: 414px) {
    flex-direction: row;
  }
}
.formGrupo2G4{
  align-items: flex-start;
  @media (max-width: 414px) {
    flex-direction: row;
    align-items: flex-end;
    gap: 10px;
  }
}
}

.formGrupo2G1,
.formGrupo2G2,
.formGrupo2G3,
.formGrupo2G4{
  width: 99%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  @media (max-width: 768px) {
    width: 100%;
  }
  @media (max-width: 414px) {
   flex-direction: column;
  }
}

.formGrupo2G2 {
  label {
    font-size: 0.7rem;
  }
}


.inputData {
  flex: 1;
}

.selectDespesas {
  width: 35%;
  height: 70.59px;
  select {
    padding: 0 10px;
  }
  @media (max-width: 414px) {
    width: 60%;
    height: 60px;
  }
}

.centroDeCusto {
  width: 65%;
  select {
    padding: 0 10px;
  }
}

.divisoes,
.pep {
  flex: 1;
}

.distancia,
.valorKm {
  flex: 1;
  @media (max-width: 414px) {
    flex: none;
    width: 28%;
  }
}

.valorFaturado,
.despesa,
.ordem {
  flex: 1;
  @media (max-width: 414px) {
    margin-bottom: 10px;
  }

}


.moeda {
  flex: 1;
  select {
    padding-left: 5px;
  }
}

.ordem,
.divisoes,
.pep,
.inputData,
.centroDeCusto,
.valorFaturado,
.despesa,
.moeda,
.inputNome,
.inputEmpresa,
.inputPrestacao,
.inputMotivo
 {
  height: 70.59px;
  @media (max-width: 414px) {
   width: 100%;
   height: 60px;
  }
  
 }



.botoes {
  width: 20%;
  display: flex;
  justify-content: space-between;
  height: 70.58px;
  align-items: center;

  .salvar {
    background-color: #001a3d;
    color: #ffffff;
    width: 60%;
    height: 4vh;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    border: none;
    transition: background-color .4s ease-in-out;
    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
      opacity: 0.6;
      &:hover {
        background-color: #ccc;
  }
    }
    &:hover {
      background-color: #5890c9;
    }
    @media (max-width: 414px) {
      svg {
        width: 22px;
        height: 22px;
      }
    }
  
  }

  .deletar {
    width: 35%;
    height: 4vh;
    background-color: #00BEDD;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    cursor: pointer;
    border: none;
    transition: background-color .4s ease-in-out;
    &:hover {
      background-color: #a60b2f;
    }
  }
  @media (max-width: 414px) {
    width: 45%;
    align-items: flex-end;
  }
}

.deletar:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  opacity: 0.6;
  &:hover {
    background-color: #ccc;
  }
}

.container_tabela {
  max-height: calc(420px - 30px);
  overflow-y: auto;
  margin-top: 20px;
}

.container_tabela::-webkit-scrollbar {
  width: 0;
  height: 0;
}


table {
  width: 99.2%;
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin-top: 30px;
  margin-left: 5px;
  @media (max-width: 768px) {
    width: 98%;
  }
  @media (max-width: 414px) {
    width: 97%;
  }

}


th {
  background-color: #CBD4E1;
  font-weight: 500;
  color: #23282f;
  font-size: 0.75rem;
  min-width: 30px;
  border: 2px solid #ccc;
  padding: 5px;
  position: sticky;
  top: -1px;
  z-index: 1;
}

tr {
  &:hover {
    background-color: #efeff0;
  };
}

td {
  border: 1.5px solid #ccc;
  text-align: center;
  font-size: 0.80rem;
  font-weight: 500;
}

.btnLixeira {
  border: none;
  transition: .5s;
  margin-top: 3px;
  :hover {
    color: #000000;
    border-radius: 6px;
    fill: #a60b2f;
    cursor: pointer;
  }
}



.footerSolicitacao {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 50px;
  width: 100%;
  height: 15vh;

  section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 68%;
    height: 15vh;
    @media (max-width: 414px) {
      flex-direction: column;
      justify-content: center;
      width: 100%;
      gap: 30px;
      height: 100%;
      width: 99%;
      .total {
        display: flex;
        gap: 10px;
        margin-left: 2px;
        .inputFooter {
          margin: 0;
        }
      }
   }
  }

  .boxButtonFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 60%;
    height: 68px;

    .buttonAnalise {
      background-color: #001a3d;
      width: 45%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      color: white;
      cursor: pointer;
      border: none;
      transition: background-color .4s ease-in-out;
      padding: 12px 15px;
      &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
        opacity: 0.6;
        &:hover {
          background-color: #ccc;
        }
      }
      &:hover {
        background-color: #5890c9;
      }
    }

    .buttonCancelar {
      background-color: #a60b2f;
      width: 45%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      color: white;
      cursor: pointer;
      border: none;
      transition: background-color .4s ease-in-out;
      padding: 12px 15px;
      &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
        opacity: 0.6;
        &:hover {
          background-color: #ccc;
        }
      }
      &:hover {
        background-color: #f1073e;
      }
    }

    @media (max-width: 414px) {
      width: 100%;
      height: 68px;
      .buttonAnalise,
      .buttonCancelar {
        font-size: 12px
      }

    }
  }
  @media (max-width: 414px) {
    flex-direction: column;
    justify-content: center;
    height: 193px;
    width: 98%;
  }
}


.navBarEstilo {
  display: flex;
  flex-direction: column;
}


.select_icon,
.input_icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  background-color: #001f4e;
  color: #ffffff;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 100;
  svg {
    transition: transform 0.2s ease-in-out;
  }
}

.select_wrapper,
.input_wrapper {
  position: relative;
}

.input_icon svg {
  font-size: 20px;
}



.down {
  transform: rotate(-180deg);
}

.modal  {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 351px;
  height: 201px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0 15px;
  border-radius: 6px;
  visibility: hidden;
  opacity: 0;
  z-index: 2001;
  transition: all 0.5s ease-in-out;
  p {
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #23282F;
  }

  .btnModal {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    button {
      font-weight: 700;
      font-size: 0.95rem;
      color: #FFFFFF;
      background-color: #00BEDD;
      border-radius: 6px;
      padding: 13px 16px;
      border: none;
      outline: none;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: #00ACC7;
      }
    }
  }
}

.btnModal button:first-child {
  background-color: #001A3D;
  &:hover {
    background-color: #042755;
  }
}



.overlay {
  background-color: #00000080;;
  width: 100%;
  height: 100%;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
  z-index: 2000;
}


.overlay_show {
  visibility: visible;
  opacity: 1;
}

.modal_show {
  visibility: visible;
  opacity: 1;
}

.hover_none {
  &:hover {
    background-color: white;
  }
}


.inputFooter {
  margin-right: 10px;
  input {
    height: 3rem;
  }
}


.total {
  display: flex;
  align-items: center;
}

.ErrorMessage {
  color: red;
  font-size: 8px;
  margin-left: 10px;
}

.error {
  color: red;
  font-size: 8px;
}

.error_select {
  color: red;
  font-size: 8px;
  margin-top: 4px;
}