.layoutSolicitacao {
  display: flex;
}

.containerPrincipalSolicitacao {
  width: 95vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  transition: all .5s ease-in-out;
}

.headerSolicitacao {
  //border: solid red;
  width: 30vw;
  display: flex;
}

.mainSolicitacao {
  width: 100%;
  flex: 1;
}

.formMain {
  display: flex;
  justify-content: space-between;
}

//Estilizzação padrão para os inputs, select , label e textarea

label {
  font-weight: 700;
  font-size: 0.75rem;
  color: #23282f;
}

input,
select,
textarea {
  border-radius: 6px;
  border: solid #cbd4e1 0.8px;
  height: 4vh;
  width: 100%;
  &:focus {
    box-shadow: 
    0 0 0 2px #027af2,       /* Borda interna azul claro */
    0 0 4px 2px rgba(2, 122, 242, 0.3), /* Efeito de glow externo */
    0 0 6px 3px rgba(3, 62, 119, 0.2); /* Sombra mais difusa (azul escuro) */
    outline: none;              /* Remove o outline padrão */
    border-color: transparent;  /* Opcional: remove a borda nativa */
  }
}

textarea {
  padding: 10px;
}

input[type="text"],
input[type="number"],
input[type="date"]  {
  padding: 0 10px;

}


//Estilizção do grupo1
.formGrupo1 {
  width: 35%;
  height: 25vh;
  // border: solid green;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.inputNome {
  // border: solid red;
  width: 45%;
}

.inputEmpresa {
  //border: solid blue;
  width: 25%;
}

.inputPrestacao {
  //  border: solid green;
  width: 25%;
}

.inputMotivo {
  // border: solid orange;
  width: 100%;

  textarea {
    height: 10vh;
  }
}

//Estilização da barra vertical

.barraVertical {
  background-color: #cbd4e1;
  height: 25vh;
  width: 0.1vw;
}

//Estilizção do grupo2

.formGrupo2 {
  //border: solid green;
  width: 60%;
  height: 25vh;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
}

.formGrupo2G1,
.formGrupo2G2 {
  width: 99%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.formGrupo2G2 {
  padding-bottom: 21px;
  flex-wrap: wrap;
  label {
    font-size: 0.7rem;
  }
}

.inputData {
  //border: solid green;
  width: 18%;
}

.selectDespesas {
  // border: solid blue;
  width: 28%;
  select {
    padding: 0 10px;
  }
}

.centroDeCusto {
  //border: solid purple;
  width: 48%;
  select {
    padding: 0 10px;
  }
}

.ordem,
.divisoes,
.pep,
.distancia {
  // border: solid red;
  width: 8%;
}

.moeda,
.valorKm,
.valorFaturado,
.despesa {
  // border: solid pink;
  width: 11%;
}

.botoes {
  //border: solid red;
  width: 16%;
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
  height: 6vh;

  .salvar {
    background-color: #001a3d;
    color: #ffffff;
    width: 60%;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    border: none;
    transition: background-color .4s ease-in-out;
    &:hover {
      background-color: #5890c9;
    }
  }

  .deletar {
    width: 35%;
    background-color: #001a3d;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    cursor: pointer;
    border: none;
    transition: background-color .4s ease-in-out;
    &:hover {
      background-color: #a60b2f;
    }
  }
}

//Estilização da tabela
.container_tabela {
  max-height: 420px;
  overflow-y: auto;
}


table {
  width: 100%;
  border: 2px solid #ccc;
  border-collapse: collapse;
  margin-top: 30px;
}

//Cabeçalho
th {
  background-color: #CBD4E1;
  font-weight: 500;
  color: #23282f;
  font-size: 0.75rem;
  min-width: 30px;
  border: 2px solid #ccc;
  padding: 5px;
}

td {
  border: 2px solid #ccc;
  text-align: center;
  font-size: 0.80rem;
  font-weight: 500;
}

.btnLixeira {
  border: none;
  transition: .5s;
  margin-top: 3px;
  :hover {
    color: #000000;
    border-radius: 6px;
    fill: #a60b2f;
    cursor: pointer;
  }
}


//Footer

.footerSolicitacao {
  // background-color: pink;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 50px;
  width: 100%;
  height: 15vh;
  position: relative;
  bottom: 0;
  right: 0;

  section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 68%;
    height: 15vh;
  }

  div {
    // border: solid;
    width: 20%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .boxButtonFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;

    .buttonAnalise {
      background-color: #001a3d;
      width: 45%;
      height: 6.5vh;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      color: white;
      cursor: pointer;
      border: none;
      transition: background-color .4s ease-in-out;
      &:hover {
        background-color: #5890c9;
      }
    }

    .buttonCancelar {
      background-color: #a60b2f;
      width: 45%;
      height: 6.5vh;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      color: white;
      cursor: pointer;
      border: none;
      transition: background-color .4s ease-in-out;
      &:hover {
        background-color: #f1073e;
      }
    }
  }
}


.navBarEstilo {
  display: flex;
  flex-direction: column;
}


