@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
    button{
        border-radius: 6px;
    }
}


.active {
    left: 0;
    width: 200px;
    transition: all .8s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    p {
      opacity: 1;
    }
}


#esconder {
    left: -68px;
  }


